body{ background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color:#ffffff;
font-size: 36pt;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
}

header{text-align: center;
    opacity: 100%;
    background:white;
    padding: 20px;}

#container {
    opacity: 20%;}
    {
     
    